[package]
name = "bevy_key_rotation"
description = "Access and refresh token rotation for Bevy applications"
license = "MIT/Apache-2.0"
repository = "https://github.com/loopystudios/bevy_key_rotation"
authors = ["Spencer C. Imbleau"]
keywords = ["gamedev"]
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
web-time = "1.1.0"
thiserror = "1.0.58"
bevy_async_task = "0.1.0"
async-trait = "0.1.79"
bevy = { version = "0.13", default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
getrandom = { version = "0.2.12" }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.42"
getrandom = { version = "0.2.12", features = ["js"] }
